<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>
    {% comment %} <form method="post">
      {% csrf_token %}
      <label for="username">Username:</label>
      <input type="text" name="username" id="username" />
      <br />
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" />
      <br/>
      <label for="email">Email: </label>
      <input type="email" name="email" id="email">
      <br/>
      <label for ="id">ID: </label>
      <input type="id" name="id" id="id">
      <br/>
      <button type="submit">Login</button>
    </form> {% endcomment %}

    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit"><a href="http://127.0.0.1:9000/accounts/create_account">
        Register
      </a>
      </button>
  </form>
  </body>
</html>